# Dependencies
node_modules/
.pnpm-store/

# Build
dist/
.output/
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Test
coverage/

# Turbo
.turbo/

# NestJS
apps/api/dist/
apps/api/public/
apps/api/storage/

# Uni-app
apps/miniprogram/unpackage/
apps/miniprogram/node_modules/.cache/

# Prisma
apps/api/prisma/migrations/**/migration_lock.toml
